.omo
/**/*pyc
/cache/stats/target
/cron/venv
/llama-proxy/config.yaml
/llama-proxy/debug
/llama-proxy/e2e/target
/llama-proxy/target
/llama-proxy/trash
/qbots/.omo
/qbots/target
/rt/*/debug
/rt/*/target
/rt/*/tmp
/trash
/vendor